Repository openstack/python-ironicclient: changes, and which Zuul jobs are due for each by the changed paths.
All: ironicclient-functional, ironicclient-dsvm-functional, ironicclient-tempest-dsvm-src

ironicclient-functional:
  parent: devstack-minimal
  required-projects:
  - openstack/ironic
  - openstack/python-ironicclient
  - openstack/keystone
  - openstack/tempest
  timeout: 4800
  post-run: playbooks/functional/run.yaml
  vars:
    tox_environment:
      PYTHONUNBUFFERED: 'true'
    tox_envlist: functionalpy3
    devstack_plugins:
  ...

ironicclient-dsvm-functional:
  parent: legacy-dsvm-base
  required-projects:
  - openstack-infra/devstack-gate
  - openstack/ironic
  - openstack/python-ironicclient
  run: playbooks/legacy/ironicclient-dsvm-functional/run.yaml
  post-run: playbooks/legacy/ironicclient-dsvm-functional/post.yaml
  timeout: 4800

ironicclient-tempest-dsvm-src:
  parent: legacy-dsvm-base
  required-projects:
  - openstack-infra/devstack-gate
  - openstack/ironic
  - openstack/ironic-lib
  - openstack/ironic-python-agent
  - openstack/ironic-tempest-plugin
  - openstack/pyghmi
  - openstack/python-ironicclient
  - openstack/tempest
  - openstack/virtualbmc
  ...

Remove install unnecessary packages
  tox.ini
Due: ironicclient-dsvm-functional

Fix l-c job
  lower-constraints.txt
  requirements.txt
Due: ironicclient-functional, ironicclient-dsvm-functional, ironicclient-tempest-dsvm-src

Set safe version of hacking
  test-requirements.txt
Due: ironicclient-functional, ironicclient-dsvm-functional

Update create node from file example
  doc/source/user/create_command.rst
Due: none

Use TOX_CONSTRAINTS_FILE
  tox.ini
Due: ironicclient-dsvm-functional

Remove lower-constraints job
  ironicclient/tests/functional/osc/v1/test_baremetal_allocation.py
  ironicclient/tests/functional/osc/v1/test_baremetal_deploy_template_basic.py
  ironicclient/tests/functional/osc/v1/test_baremetal_node_create_negative.py
  lower-constraints.txt
  zuul.d/project.yaml
Due: ironicclient-functional, ironicclient-dsvm-functional, ironicclient-tempest-dsvm-src

Remove lower-constraints job
  zuul.d/project.yaml
Due: ironicclient-functional, ironicclient-dsvm-functional, ironicclient-tempest-dsvm-src

remove lower-constraints job tox.ini
  tox.ini
Due: ironicclient-dsvm-functional

Move pep8 dependencies from test-requirements to tox.ini
  test-requirements.txt
  tox.ini
Due: ironicclient-functional, ironicclient-dsvm-functional

Support setting automated_clean to False
  ironicclient/osc/v1/baremetal_node.py
  ironicclient/tests/unit/osc/v1/test_baremetal_node.py
  releasenotes/notes/no-automated-clean-0e437581ded44eb3.yaml
Due: ironicclient-functional, ironicclient-dsvm-functional, ironicclient-tempest-dsvm-src

Add PyPi link to readme.rst
  README.rst
Due: none

Add 'deploy steps' for provisioning API
  ironicclient/common/http.py
  ironicclient/osc/v1/baremetal_node.py
  ironicclient/tests/unit/osc/v1/test_baremetal_node.py
  ironicclient/tests/unit/v1/test_node.py
  ironicclient/v1/node.py
  releasenotes/notes/add-deploy-steps-arg-0b127e29c8cf976d.yaml
Due: ironicclient-functional, ironicclient-dsvm-functional, ironicclient-tempest-dsvm-src

Update minversion of tox
  tox.ini
Due: ironicclient-dsvm-functional

Add missing unit tests for provision state commands
  ironicclient/tests/unit/osc/v1/test_baremetal_node.py
Due: ironicclient-dsvm-functional

Support YAML files wherever JSON files are accepted
  ironicclient/common/utils.py
  ironicclient/osc/v1/baremetal_deploy_template.py
  ironicclient/osc/v1/baremetal_node.py
  ironicclient/tests/unit/common/test_utils.py
  releasenotes/notes/yaml-files-79cd8367d7a4c2f2.yaml
Due: ironicclient-functional, ironicclient-dsvm-functional, ironicclient-tempest-dsvm-src

Clearer error message when unable to parse JSON
  ironicclient/common/utils.py
  ironicclient/tests/unit/common/test_utils.py
Due: ironicclient-functional, ironicclient-dsvm-functional, ironicclient-tempest-dsvm-src

Fix --fields network_data
  ironicclient/tests/unit/osc/v1/test_baremetal_node.py
  ironicclient/v1/resource_fields.py
  releasenotes/notes/network_data-c48b3878a5b04df5.yaml
Due: ironicclient-functional, ironicclient-dsvm-functional, ironicclient-tempest-dsvm-src

Update .gitreview for stable/wallaby
  .gitreview
Due: ironicclient-functional, ironicclient-dsvm-functional, ironicclient-tempest-dsvm-src

Update TOX_CONSTRAINTS_FILE for stable/wallaby
  tox.ini
Due: ironicclient-dsvm-functional

Update master for stable/wallaby
  releasenotes/source/index.rst
  releasenotes/source/wallaby.rst
Due: none

Add Python3 xena unit tests
  zuul.d/project.yaml
Due: ironicclient-functional, ironicclient-dsvm-functional, ironicclient-tempest-dsvm-src

Fix the functional tests
  ironicclient/tests/functional/osc/v1/base.py
  zuul.d/ironicclient-jobs.yaml
Due: ironicclient-functional, ironicclient-dsvm-functional, ironicclient-tempest-dsvm-src

Make baremetal --debug actually work
  ironicclient/shell.py
  releasenotes/notes/debug-e9dd680d783fa4b6.yaml
Due: ironicclient-functional, ironicclient-dsvm-functional, ironicclient-tempest-dsvm-src

setup.cfg: Replace dashes with underscores
  setup.cfg
Due: ironicclient-dsvm-functional

Switch testing to Xena testing runtime
  zuul.d/project.yaml
Due: ironicclient-functional, ironicclient-dsvm-functional, ironicclient-tempest-dsvm-src

Update project conundrum related docs
  doc/source/contributor/contributing.rst
Due: none

Changed minversion in tox to 3.18.0
  tox.ini
Due: ironicclient-dsvm-functional

Add support for 'boot_mode' and 'secure_boot' node resource fields
  ironicclient/common/http.py
  ironicclient/tests/unit/osc/v1/test_baremetal_node.py
  ironicclient/tests/unit/v1/test_node.py
  ironicclient/v1/resource_fields.py
  releasenotes/notes/add-node-boot-mode-08ac768649a2fc93.yaml
Due: ironicclient-functional, ironicclient-dsvm-functional, ironicclient-tempest-dsvm-src

Fix for missing fonts in PDF jobs
  bindep.txt
Due: ironicclient-functional, ironicclient-dsvm-functional, ironicclient-tempest-dsvm-src

Include BIOS registry fields in bios setting list command
  ironicclient/osc/v1/baremetal_node.py
  ironicclient/tests/unit/osc/v1/fakes.py
  ironicclient/tests/unit/osc/v1/test_baremetal_node.py
  ironicclient/v1/node.py
  ironicclient/v1/resource_fields.py
  releasenotes/notes/add-bios-registry-in-list-21974873f146aff7.yaml
Due: ironicclient-functional, ironicclient-dsvm-functional, ironicclient-tempest-dsvm-src

Add lower-constraints job to current development branch
  lower-constraints.txt
  requirements.txt
  tox.ini
  zuul.d/project.yaml
Due: ironicclient-functional, ironicclient-dsvm-functional, ironicclient-tempest-dsvm-src

Add support for changing 'boot_mode' and 'secure_boot' states
  ironicclient/common/http.py
  ironicclient/osc/v1/baremetal_node.py
  ironicclient/tests/unit/osc/v1/test_baremetal_node.py
  ironicclient/tests/unit/v1/test_node.py
  ironicclient/v1/node.py
  releasenotes/notes/add-node-boot-mode-set-9746b45aa3f80fe8.yaml
  setup.cfg
Due: ironicclient-functional, ironicclient-dsvm-functional, ironicclient-tempest-dsvm-src

Validate path when passing a config-drive
  ironicclient/tests/unit/v1/test_node.py
  ironicclient/v1/node.py
Due: ironicclient-functional, ironicclient-dsvm-functional, ironicclient-tempest-dsvm-src

Add support for fields in drivers CLI
  ironicclient/common/http.py
  ironicclient/osc/v1/baremetal_driver.py
  ironicclient/tests/unit/osc/v1/test_baremetal_driver.py
  ironicclient/tests/unit/v1/test_driver.py
  ironicclient/v1/driver.py
  releasenotes/notes/add-driver-cli-fields-selector-b0f527eb5f6fb2a9.yaml
Due: ironicclient-functional, ironicclient-dsvm-functional, ironicclient-tempest-dsvm-src

Update .gitreview for stable/xena
  .gitreview
Due: ironicclient-functional, ironicclient-dsvm-functional, ironicclient-tempest-dsvm-src

Path conditions:
  ironicclient-functional: unless all of: ^.*\.rst$, ^doc/.*$, ^ironicclient/locale/.*$, ^ironicclient/tests/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  ironicclient-dsvm-functional: unless all of: ^.*\.rst$, ^doc/.*$, ^releasenotes/.*$
  ironicclient-tempest-dsvm-src: unless all of: ^test-requirements.txt$, ^.*\.rst$, ^doc/.*$, ^ironicclient/tests/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
