Repository openstack/python-ironicclient: changes, and which Zuul jobs are due for each by the changed paths.
All: ironicclient-functional, ironicclient-dsvm-functional, ironicclient-tempest-dsvm-src

zuul.d/ironicclient-jobs.yaml:

- job:
    name: ironicclient-functional
    parent: devstack-minimal
    irrelevant-files:
      - ^.*\.rst$
      - ^doc/.*$
      - ^ironicclient/locale/.*$
      - ^releasenotes/.*$
      - ^setup.cfg$
      - ^tools/.*$
      - ^tox.ini$
    required-projects:
      - openstack/ironic
      - openstack/python-ironicclient
      - openstack/keystone
      - openstack/tempest
    timeout: 4800
    post-run: playbooks/functional/run.yaml
    vars:
      tox_environment:
        PYTHONUNBUFFERED: 'true'
      tox_envlist: functionalpy3
      devstack_plugins:
        ironic: https://opendev.org/openstack/ironic
      devstack_localrc:
        USE_PYTHON3: True
        EBTABLES_RACE_FIX: True
        IRONIC_ENABLED_NETWORK_INTERFACES: noop
        IRONIC_DHCP_PROVIDER: none
        IRONIC_DEPLOY_DRIVER: fake
        INSTALL_TEMPEST: False
      devstack_services:
        key: True
        mysql: True
        rabbit: True

- job:
    name: ironicclient-tempest
    parent: ironic-base
    required-projects:
      - openstack/python-ironicclient
    vars:
      devstack_localrc:
        IRONIC_DEFAULT_BOOT_OPTION: netboot
        EBTABLES_RACE_FIX: True

zuul.d/legacy-ironicclient-jobs.yaml:

- job:
    name: ironicclient-dsvm-functional
    parent: legacy-dsvm-base
    irrelevant-files:
      - ^.*\.rst$
      - ^doc/.*$
      - ^releasenotes/.*$
    required-projects:
      - openstack-infra/devstack-gate
      - openstack/ironic
      - openstack/python-ironicclient
    run: playbooks/legacy/ironicclient-dsvm-functional/run.yaml
    post-run: playbooks/legacy/ironicclient-dsvm-functional/post.yaml
    timeout: 4800

- job:
    name: ironicclient-tempest-dsvm-src
    # NOTE: We do not use 'legacy-ironic-dsvm-base' as it is simpler and
    # less confusing to define it all here and use 'legacy-dsvm-base'.
    parent: legacy-dsvm-base
    irrelevant-files:
      - ^test-requirements.txt$
      - ^.*\.rst$
      - ^doc/.*$
      - ^ironicclient/tests/.*$
      - ^releasenotes/.*$
      - ^setup.cfg$
      - ^tools/.*$
      - ^tox.ini$
    required-projects:
      - openstack-infra/devstack-gate
      - openstack/ironic
      - openstack/ironic-lib
      - openstack/ironic-python-agent
      - openstack/ironic-tempest-plugin
      - openstack/pyghmi
      - openstack/python-ironicclient
      - openstack/tempest
      - openstack/virtualbmc
    run: playbooks/legacy/ironicclient-tempest-dsvm-src/run.yaml
    post-run: playbooks/legacy/ironicclient-tempest-dsvm-src/post.yaml
    timeout: 10800

Client support port name
  ironicclient/common/http.py
  ironicclient/osc/v1/baremetal_port.py
  ironicclient/tests/unit/osc/v1/test_baremetal_port.py
  ironicclient/tests/unit/v1/test_port.py
  ironicclient/v1/port.py
  ironicclient/v1/resource_fields.py
  releasenotes/notes/port-name-6b1bf35a3939bedb.yaml
Due: ironicclient-functional, ironicclient-dsvm-functional, ironicclient-tempest-dsvm-src

Support traits configuration on baremetal create CLI
  ironicclient/tests/unit/v1/test_create_resources.py
  ironicclient/v1/create_resources.py
  releasenotes/notes/traits-for-baremetal-create-36af46998feca011.yaml
Due: ironicclient-functional, ironicclient-dsvm-functional, ironicclient-tempest-dsvm-src

Fixes the description filter
  ironicclient/tests/unit/v1/test_node.py
  ironicclient/v1/node.py
  releasenotes/notes/fix-description-contains-03f2c32268495660.yaml
Due: ironicclient-functional, ironicclient-dsvm-functional, ironicclient-tempest-dsvm-src

Fix port create ignores the name field
  ironicclient/osc/v1/baremetal_port.py
  ironicclient/tests/unit/osc/v1/test_baremetal_port.py
  releasenotes/notes/fix-create-with-port-name-9b3829405736a3c3.yaml
Due: ironicclient-functional, ironicclient-dsvm-functional, ironicclient-tempest-dsvm-src

Remove use of distutils
  ironicclient/common/http.py
  ironicclient/tests/unit/common/test_http.py
Due: ironicclient-functional, ironicclient-dsvm-functional, ironicclient-tempest-dsvm-src

Add CLI support for runbooks
  ironicclient/common/http.py
  ironicclient/common/utils.py
  ironicclient/osc/v1/baremetal_node.py
  ironicclient/osc/v1/baremetal_runbook.py
  ironicclient/tests/unit/osc/v1/fakes.py
  ironicclient/tests/unit/osc/v1/test_baremetal_node.py
  ironicclient/tests/unit/osc/v1/test_baremetal_runbook.py
  ironicclient/tests/unit/v1/test_runbook.py
  ironicclient/v1/client.py
  ironicclient/v1/node.py
  ironicclient/v1/resource_fields.py
  ironicclient/v1/runbook.py
  setup.cfg
Due: ironicclient-functional, ironicclient-dsvm-functional, ironicclient-tempest-dsvm-src

support passing disable_ramdisk for clean and service state
  ironicclient/osc/v1/baremetal_node.py
  ironicclient/tests/unit/osc/v1/test_baremetal_node.py
  ironicclient/tests/unit/v1/test_node.py
  ironicclient/v1/node.py
  releasenotes/notes/node-clean-service-disable-ramdisk-11366c1a53fa9fdd.yaml
Due: ironicclient-functional, ironicclient-dsvm-functional, ironicclient-tempest-dsvm-src

Update .gitreview for stable/2024.2
  .gitreview
Due: ironicclient-functional, ironicclient-dsvm-functional, ironicclient-tempest-dsvm-src

Update TOX_CONSTRAINTS_FILE for stable/2024.2
  tox.ini
Due: ironicclient-dsvm-functional

Update master for stable/2024.2
  releasenotes/source/2024.2.rst
  releasenotes/source/index.rst
Due: none

Fix detailed node history list
  ironicclient/v1/node.py
Due: ironicclient-functional, ironicclient-dsvm-functional, ironicclient-tempest-dsvm-src

Remove Python 3.8 support
  setup.cfg
Due: ironicclient-dsvm-functional

Replace outdated python job template
  zuul.d/project.yaml
Due: ironicclient-functional, ironicclient-dsvm-functional, ironicclient-tempest-dsvm-src

bump minimum pbr version for pip 23.1 support
  pyproject.toml
  requirements.txt
  setup.py
Due: ironicclient-functional, ironicclient-dsvm-functional, ironicclient-tempest-dsvm-src

fix port name in Port resource
  ironicclient/tests/unit/osc/v1/test_baremetal_port.py
  ironicclient/v1/resource_fields.py
  releasenotes/notes/fix-port-name-0d8190665b89c6d7.yaml
Due: ironicclient-functional, ironicclient-dsvm-functional, ironicclient-tempest-dsvm-src

Remove Functional Tests
  .coveragerc
  doc/source/conf.py
  doc/source/contributor/testing.rst
  ironicclient/tests/functional/__init__.py
  ironicclient/tests/functional/base.py
  ironicclient/tests/functional/osc/__init__.py
  ironicclient/tests/functional/osc/v1/__init__.py
  ironicclient/tests/functional/osc/v1/base.py
  ironicclient/tests/functional/osc/v1/test_baremetal_allocation.py
  ironicclient/tests/functional/osc/v1/test_baremetal_chassis_basic.py
  ironicclient/tests/functional/osc/v1/test_baremetal_conductor_basic.py
  ironicclient/tests/functional/osc/v1/test_baremetal_deploy_template_basic.py
  ironicclient/tests/functional/osc/v1/test_baremetal_driver_basic.py
  ironicclient/tests/functional/osc/v1/test_baremetal_node_basic.py
  ironicclient/tests/functional/osc/v1/test_baremetal_node_create_negative.py
  ironicclient/tests/functional/osc/v1/test_baremetal_node_fields.py
  ironicclient/tests/functional/osc/v1/test_baremetal_node_negative.py
  ironicclient/tests/functional/osc/v1/test_baremetal_node_power_states.py
  ironicclient/tests/functional/osc/v1/test_baremetal_node_provision_states.py
  ironicclient/tests/functional/osc/v1/test_baremetal_port_basic.py
  ironicclient/tests/functional/osc/v1/test_baremetal_port_create.py
  ironicclient/tests/functional/osc/v1/test_baremetal_portgroup_basic.py
  ironicclient/tests/functional/utils.py
  playbooks/functional/run.yaml
  tox.ini
  zuul.d/ironicclient-jobs.yaml
  zuul.d/project.yaml
Due: ironicclient-functional, ironicclient-dsvm-functional, ironicclient-tempest-dsvm-src

Support /v1/shards
  ironicclient/osc/v1/baremetal_shard.py
  ironicclient/tests/unit/osc/v1/fakes.py
  ironicclient/tests/unit/osc/v1/test_baremetal_shard.py
  ironicclient/tests/unit/v1/test_shard.py
  ironicclient/v1/client.py
  ironicclient/v1/resource_fields.py
  ironicclient/v1/shard.py
  setup.cfg
Due: ironicclient-functional, ironicclient-dsvm-functional, ironicclient-tempest-dsvm-src

Add support to set 'disable_power_off'
  ironicclient/common/http.py
  ironicclient/osc/v1/baremetal_node.py
  ironicclient/tests/unit/osc/v1/test_baremetal_node.py
  ironicclient/v1/node.py
  ironicclient/v1/resource_fields.py
  releasenotes/notes/disable_power_off_api-1d9efcb96c5ba37f.yaml
Due: ironicclient-functional, ironicclient-dsvm-functional, ironicclient-tempest-dsvm-src

Update .gitreview for unmaintained/2023.1
  .gitreview
Due: ironicclient-functional, ironicclient-dsvm-functional, ironicclient-tempest-dsvm-src

reno: Update master for unmaintained/2023.1
  releasenotes/source/2023.1.rst
Due: none

Drop remaining use of iteritems
  ironicclient/tests/functional/osc/v1/test_baremetal_chassis_create.py
Due: ironicclient-functional, ironicclient-dsvm-functional

Add CLI support for migrated inspection rules
  ironicclient/common/http.py
  ironicclient/osc/v1/baremetal_inspection_rule.py
  ironicclient/tests/unit/osc/v1/fakes.py
  ironicclient/v1/client.py
  ironicclient/v1/inspection_rule.py
  ironicclient/v1/resource_fields.py
  setup.cfg
Due: ironicclient-functional, ironicclient-dsvm-functional, ironicclient-tempest-dsvm-src

Update .gitreview for stable/2025.1
  .gitreview
Due: ironicclient-functional, ironicclient-dsvm-functional, ironicclient-tempest-dsvm-src

Update TOX_CONSTRAINTS_FILE for stable/2025.1
  tox.ini
Due: ironicclient-dsvm-functional

Update master for stable/2025.1
  releasenotes/source/2025.1.rst
  releasenotes/source/index.rst
Due: none

Fix bare metal info order in unit tests
  ironicclient/tests/unit/osc/v1/test_baremetal_chassis.py
  ironicclient/tests/unit/osc/v1/test_baremetal_conductor.py
  ironicclient/tests/unit/osc/v1/test_baremetal_node.py
Due: ironicclient-functional, ironicclient-dsvm-functional

A new 'description' field to the port object
  ironicclient/osc/v1/baremetal_port.py
  ironicclient/tests/unit/osc/v1/test_baremetal_port.py
  ironicclient/v1/port.py
Due: ironicclient-functional, ironicclient-dsvm-functional, ironicclient-tempest-dsvm-src

Remove unnecessary +x mode
  ironicclient/osc/v1/baremetal_conductor.py
  ironicclient/osc/v1/baremetal_node.py
Due: ironicclient-functional, ironicclient-dsvm-functional, ironicclient-tempest-dsvm-src

Stop using deprecated format_* from osc_utils
  ironicclient/common/utils.py
  ironicclient/osc/v1/baremetal_chassis.py
  ironicclient/osc/v1/baremetal_conductor.py
  ironicclient/osc/v1/baremetal_node.py
  ironicclient/osc/v1/baremetal_port.py
  ironicclient/osc/v1/baremetal_portgroup.py
  ironicclient/osc/v1/baremetal_volume_connector.py
  ironicclient/osc/v1/baremetal_volume_target.py
  ironicclient/tests/unit/osc/v1/test_baremetal_port.py
  ironicclient/tests/unit/v1/test_node.py
Due: ironicclient-functional, ironicclient-dsvm-functional, ironicclient-tempest-dsvm-src

fix: portgroup create with uuid for idempotency
  ironicclient/v1/portgroup.py
  releasenotes/notes/portgroup-create-uuid-311ea9f2633c6a02.yaml
Due: ironicclient-functional, ironicclient-dsvm-functional, ironicclient-tempest-dsvm-src

Replace license classifier
  setup.cfg
Due: ironicclient-dsvm-functional

Exclude test code from coverage report
  .coveragerc
Due: ironicclient-functional, ironicclient-dsvm-functional, ironicclient-tempest-dsvm-src

Cast string boolean from CLI
  ironicclient/osc/v1/baremetal_runbook.py
  ironicclient/tests/unit/osc/v1/test_baremetal_runbook.py
Due: ironicclient-functional, ironicclient-dsvm-functional, ironicclient-tempest-dsvm-src

Revert "Replace license classifier"
  setup.cfg
Due: ironicclient-dsvm-functional
