Repository openstack/python-ironicclient: changes, and which Zuul jobs are due for each by the changed paths.
All: ironicclient-functional, ironicclient-dsvm-functional, ironicclient-tempest-dsvm-src

ironicclient-functional:
  parent: devstack-minimal
  required-projects:
  - openstack/ironic
  - openstack/python-ironicclient
  - openstack/keystone
  - openstack/tempest
  timeout: 4800
  post-run: playbooks/functional/run.yaml
  vars:
    tox_environment:
      PYTHONUNBUFFERED: 'true'
    tox_envlist: functionalpy3
    devstack_plugins:
  ...

ironicclient-dsvm-functional:
  parent: legacy-dsvm-base
  required-projects:
  - openstack-infra/devstack-gate
  - openstack/ironic
  - openstack/python-ironicclient
  run: playbooks/legacy/ironicclient-dsvm-functional/run.yaml
  post-run: playbooks/legacy/ironicclient-dsvm-functional/post.yaml
  timeout: 4800

ironicclient-tempest-dsvm-src:
  parent: legacy-dsvm-base
  required-projects:
  - openstack-infra/devstack-gate
  - openstack/ironic
  - openstack/ironic-lib
  - openstack/ironic-python-agent
  - openstack/ironic-tempest-plugin
  - openstack/pyghmi
  - openstack/python-ironicclient
  - openstack/tempest
  - openstack/virtualbmc
  ...

Update TOX_CONSTRAINTS_FILE for stable/2023.1
  tox.ini
Due: ironicclient-dsvm-functional

Update master for stable/2023.1
  releasenotes/source/2023.1.rst
  releasenotes/source/index.rst
Due: none

Accept configdrive as a JSON file
  ironicclient/common/utils.py
  ironicclient/osc/v1/baremetal_node.py
  ironicclient/tests/unit/common/test_utils.py
  ironicclient/tests/unit/v1/test_node.py
  ironicclient/v1/node.py
  releasenotes/notes/configdrive-json-b9d173dde111cf22.yaml
Due: ironicclient-functional, ironicclient-dsvm-functional, ironicclient-tempest-dsvm-src

Update dependencies for pep8: to hacking v6
  tox.ini
Due: ironicclient-dsvm-functional

Fix minor spelling errors and incorrect help text
  ironicclient/osc/v1/baremetal_node.py
  ironicclient/v1/node.py
Due: ironicclient-functional, ironicclient-dsvm-functional, ironicclient-tempest-dsvm-src

Add support for node inventory
  ironicclient/common/http.py
  ironicclient/osc/v1/baremetal_node.py
  ironicclient/tests/unit/osc/v1/fakes.py
  ironicclient/tests/unit/osc/v1/test_baremetal_node.py
  ironicclient/tests/unit/v1/test_node.py
  ironicclient/v1/node.py
  releasenotes/notes/add-node-inventory-74e856c019cfa7e2.yaml
  setup.cfg
Due: ironicclient-functional, ironicclient-dsvm-functional, ironicclient-tempest-dsvm-src

Node sharding support
  ironicclient/common/http.py
  ironicclient/osc/v1/baremetal_node.py
  ironicclient/tests/unit/osc/v1/test_baremetal_node.py
  ironicclient/tests/unit/v1/test_node.py
  ironicclient/v1/node.py
  releasenotes/notes/node-shard-support-774ebfe6719fc7c2.yaml
Due: ironicclient-functional, ironicclient-dsvm-functional, ironicclient-tempest-dsvm-src

Add support for parent node
  ironicclient/common/http.py
  ironicclient/osc/v1/baremetal_node.py
  ironicclient/tests/unit/osc/v1/fakes.py
  ironicclient/tests/unit/osc/v1/test_baremetal_node.py
  ironicclient/tests/unit/v1/test_node.py
  ironicclient/v1/node.py
  ironicclient/v1/resource_fields.py
  releasenotes/notes/add-parent-node-support-450b111533c82440.yaml
  setup.cfg
Due: ironicclient-functional, ironicclient-dsvm-functional, ironicclient-tempest-dsvm-src

Add baremetal node unhold
  ironicclient/common/http.py
  ironicclient/osc/v1/baremetal_node.py
  ironicclient/tests/unit/osc/v1/test_baremetal_node.py
  releasenotes/notes/update-api-version-to-1.85-0d79e372275061f9.yaml
  setup.cfg
Due: ironicclient-functional, ironicclient-dsvm-functional, ironicclient-tempest-dsvm-src

These should be indented 4 spaces to match the other things in this block
  tox.ini
Due: ironicclient-dsvm-functional

Add python3.10 support in testing runtime
  setup.cfg
Due: ironicclient-dsvm-functional

tox: Remove basepython
  tox.ini
Due: ironicclient-dsvm-functional

Followup: Remove print statements from test
  ironicclient/tests/unit/osc/v1/test_baremetal_node.py
Due: ironicclient-functional, ironicclient-dsvm-functional

[stable-only] Fix zuul config; comment failing CI
  zuul.d/project.yaml
Due: ironicclient-functional, ironicclient-dsvm-functional, ironicclient-tempest-dsvm-src

Firmware Interface support
  ironicclient/common/http.py
  ironicclient/osc/v1/baremetal_node.py
  ironicclient/tests/unit/osc/v1/fakes.py
  ironicclient/tests/unit/osc/v1/test_baremetal_driver.py
  ironicclient/tests/unit/osc/v1/test_baremetal_node.py
  ironicclient/tests/unit/v1/test_driver.py
  ironicclient/v1/node.py
  ironicclient/v1/resource_fields.py
  releasenotes/notes/firmware-interface-ad0e9d58e4f61b2d.yaml
  setup.cfg
Due: ironicclient-functional, ironicclient-dsvm-functional, ironicclient-tempest-dsvm-src

Update .gitreview for stable/2023.2
  .gitreview
Due: ironicclient-functional, ironicclient-dsvm-functional, ironicclient-tempest-dsvm-src

Update TOX_CONSTRAINTS_FILE for stable/2023.2
  tox.ini
Due: ironicclient-dsvm-functional

Update master for stable/2023.2
  releasenotes/source/2023.2.rst
  releasenotes/source/index.rst
Due: none

Update python classifier in setup.cfg
  setup.cfg
Due: ironicclient-dsvm-functional

add pyproject.toml to support pip 23.1
  pyproject.toml
Due: ironicclient-functional, ironicclient-dsvm-functional, ironicclient-tempest-dsvm-src

Bump hacking to 6.1.0
  tox.ini
Due: ironicclient-dsvm-functional

[codespell] Fixing Spelling Mistakes
  ironicclient/common/http.py
  ironicclient/osc/plugin.py
  ironicclient/osc/v1/baremetal_node.py
  ironicclient/shell.py
  ironicclient/tests/unit/common/apiclient/test_base.py
  ironicclient/tests/unit/test_client.py
  ironicclient/v1/client.py
  ironicclient/v1/node.py
  releasenotes/notes/accept-valid_interfaces-3b8f5e3e362e04cd.yaml
  releasenotes/notes/add-bios-registry-in-list-21974873f146aff7.yaml
  releasenotes/notes/address-cross-distro-iso-tools-006711c9f150037a.yaml
  releasenotes/notes/allow-api-user-to-use-latest-6b80e9f584eaaa4e.yaml
  releasenotes/notes/provision-state-adopt-d07b838813cecfb1.yaml
Due: ironicclient-functional, ironicclient-dsvm-functional, ironicclient-tempest-dsvm-src

Add tests for OSC baremetal chassis create command
  ironicclient/tests/functional/osc/v1/test_baremetal_chassis_create.py
Due: ironicclient-functional, ironicclient-dsvm-functional

[codespell] Adding Tox Target for Codespell
  setup.cfg
  tox.ini
Due: ironicclient-dsvm-functional

[codespell] Adding CI target for Tox Codespell
  zuul.d/ironicclient-jobs.yaml
  zuul.d/project.yaml
Due: ironicclient-functional, ironicclient-dsvm-functional, ironicclient-tempest-dsvm-src

Update .gitreview for unmaintained/yoga
  .gitreview
Due: ironicclient-functional, ironicclient-dsvm-functional, ironicclient-tempest-dsvm-src

reno: Update master for unmaintained/yoga
  releasenotes/source/yoga.rst
Due: none

Force constraints when installing a package during tox test
  tox.ini
Due: ironicclient-dsvm-functional

Moving functional job to non-voting until we have a fix for it
  zuul.d/project.yaml
Due: ironicclient-functional, ironicclient-dsvm-functional, ironicclient-tempest-dsvm-src

Add test for driver raid property list
  ironicclient/tests/functional/base.py
  ironicclient/tests/functional/osc/v1/base.py
  ironicclient/tests/functional/osc/v1/test_baremetal_driver_basic.py
Due: ironicclient-functional, ironicclient-dsvm-functional

Add missing commands to the documentation
  doc/source/cli/osc/v1/index.rst
Due: none

Update .gitreview for stable/2024.1
  .gitreview
Due: ironicclient-functional, ironicclient-dsvm-functional, ironicclient-tempest-dsvm-src

Update TOX_CONSTRAINTS_FILE for stable/2024.1
  tox.ini
Due: ironicclient-dsvm-functional

Update master for stable/2024.1
  releasenotes/source/2024.1.rst
  releasenotes/source/index.rst
Due: none

Fix functional test run
  ironicclient/tests/functional/base.py
  playbooks/functional/run.yaml
Due: ironicclient-functional, ironicclient-dsvm-functional, ironicclient-tempest-dsvm-src

Fix on-creation ability
  ironicclient/v1/node.py
  releasenotes/notes/fix-on-create-field-setting-60eb1ead99c69b12.yaml
Due: ironicclient-functional, ironicclient-dsvm-functional, ironicclient-tempest-dsvm-src

Replace appdirs by platformdirs
  ironicclient/common/filecache.py
  requirements.txt
Due: ironicclient-functional, ironicclient-dsvm-functional, ironicclient-tempest-dsvm-src

Add Service Steps to client
  ironicclient/common/http.py
  ironicclient/osc/v1/baremetal_node.py
  ironicclient/tests/unit/osc/v1/test_baremetal_node.py
  ironicclient/tests/unit/v1/test_node.py
  ironicclient/v1/node.py
  ironicclient/v1/utils.py
  releasenotes/notes/add-service-steps-0c517e64563f6bbe.yaml
  setup.cfg
Due: ironicclient-functional, ironicclient-dsvm-functional, ironicclient-tempest-dsvm-src

Remove old excludes
  doc/requirements.txt
  requirements.txt
  test-requirements.txt
Due: ironicclient-functional, ironicclient-dsvm-functional, ironicclient-tempest-dsvm-src

reno: Update master for unmaintained/zed
  releasenotes/source/zed.rst
Due: none

Path conditions:
  ironicclient-functional: unless all of: ^.*\.rst$, ^doc/.*$, ^ironicclient/locale/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  ironicclient-dsvm-functional: unless all of: ^.*\.rst$, ^doc/.*$, ^releasenotes/.*$
  ironicclient-tempest-dsvm-src: unless all of: ^test-requirements.txt$, ^.*\.rst$, ^doc/.*$, ^ironicclient/tests/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
