Repository openstack/python-ironicclient: changes, and which Zuul jobs are due for each by the changed paths.
All: ironicclient-functional, ironicclient-dsvm-functional, ironicclient-tempest-dsvm-src

zuul.d/ironicclient-jobs.yaml:

- job:
    name: ironicclient-functional
    parent: devstack-minimal
    irrelevant-files:
      - ^.*\.rst$
      - ^doc/.*$
      - ^ironicclient/locale/.*$
      - ^ironicclient/tests/.*$
      - ^releasenotes/.*$
      - ^setup.cfg$
      - ^tools/.*$
      - ^tox.ini$
    required-projects:
      - openstack/ironic
      - openstack/python-ironicclient
      - openstack/keystone
      - openstack/tempest
    timeout: 4800
    post-run: playbooks/functional/run.yaml
    vars:
      tox_environment:
        PYTHONUNBUFFERED: 'true'
      tox_envlist: functionalpy3
      devstack_plugins:
        ironic: https://opendev.org/openstack/ironic
      devstack_localrc:
        USE_PYTHON3: True
        EBTABLES_RACE_FIX: True
        IRONIC_ENABLED_NETWORK_INTERFACES: noop
        IRONIC_DHCP_PROVIDER: none
        IRONIC_DEPLOY_DRIVER: fake
        INSTALL_TEMPEST: False
      devstack_services:
        key: True
        mysql: True
        rabbit: True

- job:
    name: ironicclient-tempest
    parent: ironic-base
    required-projects:
      - openstack/python-ironicclient
    vars:
      devstack_localrc:
        IRONIC_DEFAULT_BOOT_OPTION: netboot
        EBTABLES_RACE_FIX: True

zuul.d/legacy-ironicclient-jobs.yaml:

- job:
    name: ironicclient-dsvm-functional
    parent: legacy-dsvm-base
    irrelevant-files:
      - ^.*\.rst$
      - ^doc/.*$
      - ^releasenotes/.*$
    required-projects:
      - openstack-infra/devstack-gate
      - openstack/ironic
      - openstack/python-ironicclient
    run: playbooks/legacy/ironicclient-dsvm-functional/run.yaml
    post-run: playbooks/legacy/ironicclient-dsvm-functional/post.yaml
    timeout: 4800

- job:
    name: ironicclient-tempest-dsvm-src
    # NOTE: We do not use 'legacy-ironic-dsvm-base' as it is simpler and
    # less confusing to define it all here and use 'legacy-dsvm-base'.
    parent: legacy-dsvm-base
    irrelevant-files:
      - ^test-requirements.txt$
      - ^.*\.rst$
      - ^doc/.*$
      - ^ironicclient/tests/.*$
      - ^releasenotes/.*$
      - ^setup.cfg$
      - ^tools/.*$
      - ^tox.ini$
    required-projects:
      - openstack-infra/devstack-gate
      - openstack/ironic
      - openstack/ironic-lib
      - openstack/ironic-python-agent
      - openstack/ironic-tempest-plugin
      - openstack/pyghmi
      - openstack/python-ironicclient
      - openstack/tempest
      - openstack/virtualbmc
    run: playbooks/legacy/ironicclient-tempest-dsvm-src/run.yaml
    post-run: playbooks/legacy/ironicclient-tempest-dsvm-src/post.yaml
    timeout: 10800

Update TOX_CONSTRAINTS_FILE for stable/xena
  tox.ini
Due: ironicclient-dsvm-functional

Update master for stable/xena
  releasenotes/source/index.rst
  releasenotes/source/xena.rst
Due: none

Add Python3 yoga unit tests
  zuul.d/project.yaml
Due: ironicclient-functional, ironicclient-dsvm-functional, ironicclient-tempest-dsvm-src

Fix distribution compatability for configdrive build
  ironicclient/common/utils.py
  ironicclient/tests/unit/common/test_utils.py
  releasenotes/notes/address-cross-distro-iso-tools-006711c9f150037a.yaml
Due: ironicclient-functional, ironicclient-dsvm-functional, ironicclient-tempest-dsvm-src

Fix the functional tests
  ironicclient/tests/functional/osc/v1/base.py
  zuul.d/ironicclient-jobs.yaml
Due: ironicclient-functional, ironicclient-dsvm-functional, ironicclient-tempest-dsvm-src

Fix references to ironicclient classes and methods
  doc/source/api_v1.rst
Due: none

Made `baremetal <command> --help` display command specific help.
  ironicclient/shell.py
Due: ironicclient-functional, ironicclient-dsvm-functional, ironicclient-tempest-dsvm-src

Test python 3.6 for distributions compatibility
  zuul.d/project.yaml
Due: ironicclient-functional, ironicclient-dsvm-functional, ironicclient-tempest-dsvm-src

Add node history support
  ironicclient/common/http.py
  ironicclient/osc/v1/baremetal_node.py
  ironicclient/tests/unit/osc/v1/fakes.py
  ironicclient/tests/unit/osc/v1/test_baremetal_node.py
  ironicclient/v1/node.py
  ironicclient/v1/resource_fields.py
  releasenotes/notes/add-node-history-b9b9beeb0200f185.yaml
  setup.cfg
Due: ironicclient-functional, ironicclient-dsvm-functional, ironicclient-tempest-dsvm-src

Updating python testing classifier as per Yoga testing runtime
  setup.cfg
Due: ironicclient-dsvm-functional

Use only Yoga tests
  setup.cfg
  zuul.d/project.yaml
Due: ironicclient-functional, ironicclient-dsvm-functional, ironicclient-tempest-dsvm-src

Improve description of "node boot mode set"
  ironicclient/osc/v1/baremetal_node.py
Due: ironicclient-functional, ironicclient-dsvm-functional, ironicclient-tempest-dsvm-src

Avoid using 'foo' as invalid JSON test data
  ironicclient/tests/unit/common/test_utils.py
Due: ironicclient-dsvm-functional

Validate path when passing a config-drive
  ironicclient/tests/unit/v1/test_node.py
  ironicclient/v1/node.py
Due: ironicclient-functional, ironicclient-dsvm-functional, ironicclient-tempest-dsvm-src

Update .gitreview for stable/yoga
  .gitreview
Due: ironicclient-functional, ironicclient-dsvm-functional, ironicclient-tempest-dsvm-src

Update TOX_CONSTRAINTS_FILE for stable/yoga
  tox.ini
Due: ironicclient-dsvm-functional

Update master for stable/yoga
  releasenotes/source/index.rst
  releasenotes/source/yoga.rst
Due: none

Add Python3 zed unit tests
  zuul.d/project.yaml
Due: ironicclient-functional, ironicclient-dsvm-functional, ironicclient-tempest-dsvm-src

Fix CI
  zuul.d/ironicclient-jobs.yaml
Due: ironicclient-functional, ironicclient-dsvm-functional, ironicclient-tempest-dsvm-src

CI: Removing ironic job queue
  zuul.d/project.yaml
Due: ironicclient-functional, ironicclient-dsvm-functional, ironicclient-tempest-dsvm-src

Fix logging in the baremetal CLI
  ironicclient/shell.py
  releasenotes/notes/logging-9c452e4869d80de9.yaml
Due: ironicclient-functional, ironicclient-dsvm-functional, ironicclient-tempest-dsvm-src

Drop lower-constraints.txt and its testing
  lower-constraints.txt
  requirements.txt
  tox.ini
  zuul.d/project.yaml
Due: ironicclient-functional, ironicclient-dsvm-functional, ironicclient-tempest-dsvm-src

The Python 3.6 and Python 3.7 Support has been dropped since zed
  setup.cfg
Due: ironicclient-dsvm-functional

Remove unused check_python_version
  tools/install_venv_common.py
Due: ironicclient-dsvm-functional

remove unicode from code
  doc/source/conf.py
  releasenotes/source/conf.py
Due: none

Update .gitreview for stable/zed
  .gitreview
Due: ironicclient-functional, ironicclient-dsvm-functional, ironicclient-tempest-dsvm-src

Update TOX_CONSTRAINTS_FILE for stable/zed
  tox.ini
Due: ironicclient-dsvm-functional

Update master for stable/zed
  releasenotes/source/index.rst
  releasenotes/source/zed.rst
Due: none

Add Python3 antelope unit tests
  zuul.d/project.yaml
Due: ironicclient-functional, ironicclient-dsvm-functional, ironicclient-tempest-dsvm-src

Fix wrong assertion methods
  ironicclient/tests/unit/osc/v1/test_baremetal_deploy_template.py
Due: ironicclient-dsvm-functional

No longer override install_command in tox.ini
  tox.ini
Due: ironicclient-dsvm-functional

Fix tox4 error
  tox.ini
Due: ironicclient-dsvm-functional

Allow several nodes for most node actions
  ironicclient/common/utils.py
  ironicclient/osc/v1/baremetal_node.py
  ironicclient/tests/unit/osc/v1/test_baremetal_node.py
  ironicclient/tests/unit/v1/test_node.py
  ironicclient/v1/node.py
  releasenotes/notes/multinode-actions-9f682ad5172f032f.yaml
Due: ironicclient-functional, ironicclient-dsvm-functional, ironicclient-tempest-dsvm-src

Update .gitreview for stable/2023.1
  .gitreview
Due: ironicclient-functional, ironicclient-dsvm-functional, ironicclient-tempest-dsvm-src
