Repository openstack/python-ironicclient: changes, and which Zuul jobs are due for each by the changed paths.
All: ironicclient-dsvm-functional, ironicclient-tempest-dsvm-src

ironicclient-dsvm-functional:
  parent: legacy-dsvm-base
  required-projects:
  - openstack-infra/devstack-gate
  - openstack/ironic
  - openstack/python-ironicclient
  run: playbooks/legacy/ironicclient-dsvm-functional/run.yaml
  post-run: playbooks/legacy/ironicclient-dsvm-functional/post.yaml
  timeout: 4800

ironicclient-tempest-dsvm-src:
  parent: legacy-dsvm-base
  required-projects:
  - openstack-infra/devstack-gate
  - openstack/ironic
  - openstack/ironic-lib
  - openstack/ironic-python-agent
  - openstack/ironic-tempest-plugin
  - openstack/pyghmi
  - openstack/python-ironicclient
  - openstack/tempest
  - openstack/virtualbmc
  ...

Use the tempest plugin from openstack/ironic-tempest-plugin
  playbooks/legacy/ironicclient-tempest-dsvm-src/run.yaml
  zuul.d/legacy-ironicclient-jobs.yaml
Due: ironicclient-dsvm-functional, ironicclient-tempest-dsvm-src

Accept None as a result of node validation in functional test
  ironicclient/tests/functional/test_json_response.py
Due: ironicclient-dsvm-functional

Updated from global requirements
  requirements.txt
Due: ironicclient-dsvm-functional, ironicclient-tempest-dsvm-src

Ignore .eggs from git
  .gitignore
Due: ironicclient-dsvm-functional, ironicclient-tempest-dsvm-src

Accept port and portgroup as volume connector types
  ironicclient/osc/v1/baremetal_volume_connector.py
Due: ironicclient-dsvm-functional, ironicclient-tempest-dsvm-src

Use StrictVersion to compare versions
  ironicclient/common/http.py
  ironicclient/tests/unit/common/test_http.py
Due: ironicclient-dsvm-functional, ironicclient-tempest-dsvm-src

Updated from global requirements
  test-requirements.txt
Due: ironicclient-dsvm-functional

Facilitate latest Rest API use
  ironicclient/client.py
  ironicclient/common/http.py
  ironicclient/osc/plugin.py
  ironicclient/tests/unit/common/test_http.py
  ironicclient/tests/unit/test_client.py
  ironicclient/tests/unit/v1/test_client.py
  ironicclient/v1/client.py
  releasenotes/notes/allow-api-user-to-use-latest-6b80e9f584eaaa4e.yaml
Due: ironicclient-dsvm-functional, ironicclient-tempest-dsvm-src

Allow API user to define list of versions
  ironicclient/client.py
  ironicclient/common/http.py
  ironicclient/tests/unit/common/test_http.py
  ironicclient/tests/unit/test_client.py
  releasenotes/notes/allow-client-to-request-list-of-versions-88f019cad76e6464.yaml
Due: ironicclient-dsvm-functional, ironicclient-tempest-dsvm-src

Can not set portgroup mode as a number
  ironicclient/osc/v1/baremetal_portgroup.py
  ironicclient/tests/unit/osc/v1/test_baremetal_portgroup.py
Due: ironicclient-dsvm-functional, ironicclient-tempest-dsvm-src

Traits support
  ironicclient/common/base.py
  ironicclient/common/http.py
  ironicclient/osc/v1/baremetal_node.py
  ironicclient/tests/unit/osc/v1/fakes.py
  ironicclient/tests/unit/osc/v1/test_baremetal_node.py
  ironicclient/tests/unit/v1/test_node.py
  ironicclient/tests/unit/v1/test_node_shell.py
  ironicclient/v1/node.py
  ironicclient/v1/resource_fields.py
  releasenotes/notes/traits-support-8864f6816abecdb2.yaml
  setup.cfg
Due: ironicclient-dsvm-functional, ironicclient-tempest-dsvm-src

Check return value in test_baremetal_list_traits
  ironicclient/tests/unit/osc/v1/test_baremetal_node.py
Due: ironicclient-dsvm-functional

Use the 'ironic' queue for the gate
  zuul.d/project.yaml
Due: ironicclient-dsvm-functional, ironicclient-tempest-dsvm-src

Replace curly quotes with straight quotes
  tox.ini
Due: ironicclient-dsvm-functional

Add release note for fix to bug 1745099
  releasenotes/notes/bug-1745099-allow-integer-portgroup-mode-6be4d3b35e216486.yaml
Due: none

Update .gitreview for stable/queens
  .gitreview
Due: ironicclient-dsvm-functional, ironicclient-tempest-dsvm-src

Update UPPER_CONSTRAINTS_FILE for stable/queens
  tox.ini
Due: ironicclient-dsvm-functional

Update reno for stable/queens
  releasenotes/source/index.rst
  releasenotes/source/queens.rst
Due: none

Add support for RESCUE and UNRESCUE provision states
  ironicclient/common/http.py
  ironicclient/osc/v1/baremetal_node.py
  ironicclient/tests/unit/osc/v1/test_baremetal_node.py
  ironicclient/tests/unit/v1/test_node.py
  ironicclient/v1/node.py
  ironicclient/v1/utils.py
  releasenotes/notes/add-rescue-unrescue-support-f78266514ca59346.yaml
  setup.cfg
Due: ironicclient-dsvm-functional, ironicclient-tempest-dsvm-src

Add rescue_interface to node and driver
  ironicclient/osc/v1/baremetal_node.py
  ironicclient/tests/unit/osc/v1/fakes.py
  ironicclient/tests/unit/osc/v1/test_baremetal_driver.py
  ironicclient/tests/unit/osc/v1/test_baremetal_node.py
  ironicclient/tests/unit/v1/test_driver_shell.py
  ironicclient/tests/unit/v1/test_node_shell.py
  ironicclient/v1/node.py
  ironicclient/v1/resource_fields.py
  releasenotes/notes/add-rescue-interface-to-node-and-driver-e3ff9b5df2628e5a.yaml
Due: ironicclient-dsvm-functional, ironicclient-tempest-dsvm-src

Follow-up of rescue mode
  ironicclient/osc/v1/baremetal_node.py
  ironicclient/tests/unit/osc/v1/test_baremetal_node.py
  ironicclient/tests/unit/v1/test_node.py
  ironicclient/v1/node.py
Due: ironicclient-dsvm-functional, ironicclient-tempest-dsvm-src

Use 'with' method rather than having to call close
  ironicclient/common/utils.py
Due: ironicclient-dsvm-functional, ironicclient-tempest-dsvm-src

Zuul: Remove project name
  zuul.d/project.yaml
Due: ironicclient-dsvm-functional, ironicclient-tempest-dsvm-src

Replace use of functools.wraps() with six.wraps()
  ironicclient/common/http.py
  ironicclient/v1/create_resources.py
Due: ironicclient-dsvm-functional, ironicclient-tempest-dsvm-src

Update 'Usage' section in 'doc/source/api_v1.rst'
  doc/source/api_v1.rst
Due: none

Change confusing test class names
  ironicclient/tests/unit/test_shell.py
Due: ironicclient-dsvm-functional

Minor changes to version negotiation logic
  ironicclient/common/http.py
  ironicclient/tests/unit/common/test_http.py
  ironicclient/v1/client.py
Due: ironicclient-dsvm-functional, ironicclient-tempest-dsvm-src

Switch the CI to hardware types and clean up playbook
  playbooks/legacy/ironicclient-tempest-dsvm-src/run.yaml
Due: ironicclient-dsvm-functional, ironicclient-tempest-dsvm-src

[doc] Add 'openstack create' command to command reference
  doc/source/cli/osc/v1/index.rst
Due: none

Path conditions:
  ironicclient-dsvm-functional: unless all of: ^.*\.rst$, ^doc/.*$, ^releasenotes/.*$
  ironicclient-tempest-dsvm-src: unless all of: ^test-requirements.txt$, ^.*\.rst$, ^doc/.*$, ^ironicclient/tests/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
