Repository openstack/python-ironicclient: changes, and which Zuul jobs are due for each by the changed paths.
All: ironicclient-dsvm-functional, ironicclient-tempest-dsvm-src

ironicclient-dsvm-functional:
  parent: legacy-dsvm-base
  required-projects:
  - openstack-infra/devstack-gate
  - openstack/ironic
  - openstack/python-ironicclient
  run: playbooks/legacy/ironicclient-dsvm-functional/run.yaml
  post-run: playbooks/legacy/ironicclient-dsvm-functional/post.yaml
  timeout: 4800

ironicclient-tempest-dsvm-src:
  parent: legacy-dsvm-base
  required-projects:
  - openstack-infra/devstack-gate
  - openstack/ironic
  - openstack/ironic-lib
  - openstack/ironic-python-agent
  - openstack/ironic-tempest-plugin
  - openstack/pyghmi
  - openstack/python-ironicclient
  - openstack/tempest
  - openstack/virtualbmc
  ...

Remove Python 3.9 support
  releasenotes/notes/remove-py39-4dcb7e79fa3d6f66.yaml
  setup.cfg
Due: ironicclient-dsvm-functional

Replace CLA with DCO
  doc/source/contributor/contributing.rst
Due: none

Fix parallel initial version negotiation
  ironicclient/common/http.py
Due: ironicclient-dsvm-functional, ironicclient-tempest-dsvm-src

Update .gitreview for stable/2025.2
  .gitreview
Due: ironicclient-dsvm-functional, ironicclient-tempest-dsvm-src

Update TOX_CONSTRAINTS_FILE for stable/2025.2
  tox.ini
Due: ironicclient-dsvm-functional

Update master for stable/2025.2
  releasenotes/source/2025.2.rst
  releasenotes/source/index.rst
Due: none

Update .gitreview for unmaintained/2024.1
  .gitreview
Due: ironicclient-dsvm-functional, ironicclient-tempest-dsvm-src

reno: Update master for unmaintained/2024.1
  releasenotes/source/2024.1.rst
Due: none

Remove deprecated option
  ironicclient/osc/v1/baremetal_port.py
  ironicclient/tests/unit/osc/v1/test_baremetal_port.py
  releasenotes/notes/remove-port-create-l-option-08ce0a3fc3e48d59.yaml
Due: ironicclient-dsvm-functional, ironicclient-tempest-dsvm-src

A new `instance_name` field to the node object
  ironicclient/common/http.py
  ironicclient/osc/v1/baremetal_node.py
  ironicclient/tests/unit/common/test_http.py
  ironicclient/tests/unit/osc/v1/test_baremetal_node.py
  ironicclient/v1/node.py
  ironicclient/v1/resource_fields.py
Due: ironicclient-dsvm-functional, ironicclient-tempest-dsvm-src

Remove integration for python-ironic-inspector-client
  doc/source/cli/standalone.rst
  ironicclient/shell.py
  releasenotes/notes/remove-inspector-integration-17e4e1d010162a37.yaml
Due: ironicclient-dsvm-functional, ironicclient-tempest-dsvm-src

feat: add 'vendor' and 'category' for port object
  ironicclient/osc/v1/baremetal_port.py
  ironicclient/tests/unit/osc/v1/test_baremetal_port.py
  ironicclient/v1/port.py
  ironicclient/v1/resource_fields.py
  releasenotes/notes/add-port-vendor-category-4f046b55eec698bf.yaml
Due: ironicclient-dsvm-functional, ironicclient-tempest-dsvm-src

fix: report compatibility with 2025.2 release of Ironic
  ironicclient/common/http.py
  ironicclient/tests/unit/common/test_http.py
  releasenotes/notes/fix-api-version-9542bf9df71f809e.yaml
Due: ironicclient-dsvm-functional, ironicclient-tempest-dsvm-src

fix: test determining latest API version
  ironicclient/tests/unit/common/test_http.py
Due: ironicclient-dsvm-functional

feat: add 'physical_network' and 'category' to portgroup object
  ironicclient/osc/v1/baremetal_portgroup.py
  ironicclient/tests/unit/osc/v1/fakes.py
  ironicclient/tests/unit/osc/v1/test_baremetal_portgroup.py
  ironicclient/v1/portgroup.py
  ironicclient/v1/resource_fields.py
  releasenotes/notes/add-portgroup-physical-network-category-53508695ce5f5dc5.yaml
Due: ironicclient-dsvm-functional, ironicclient-tempest-dsvm-src

Add support for node health status field
  ironicclient/common/http.py
  ironicclient/tests/unit/osc/v1/test_baremetal_node.py
  ironicclient/v1/resource_fields.py
  releasenotes/notes/add-node-health-fields-support-c8f3d2a9b7e4f1a5.yaml
Due: ironicclient-dsvm-functional, ironicclient-tempest-dsvm-src

Filter portgroups by shard
  ironicclient/osc/v1/baremetal_portgroup.py
  ironicclient/tests/unit/osc/v1/test_baremetal_portgroup.py
  ironicclient/tests/unit/v1/test_portgroup.py
  ironicclient/v1/portgroup.py
Due: ironicclient-dsvm-functional, ironicclient-tempest-dsvm-src

Remove health from default node list columns
  ironicclient/tests/unit/osc/v1/test_baremetal_node.py
  ironicclient/v1/resource_fields.py
  releasenotes/notes/remove-health-from-default-columns-999c8e5c-4ebc-4e.yaml
Due: ironicclient-dsvm-functional, ironicclient-tempest-dsvm-src

Fix field names for selection and json
  ironicclient/osc/v1/baremetal_allocation.py
  ironicclient/osc/v1/baremetal_chassis.py
  ironicclient/osc/v1/baremetal_conductor.py
  ironicclient/osc/v1/baremetal_deploy_template.py
  ironicclient/osc/v1/baremetal_driver.py
  ironicclient/osc/v1/baremetal_inspection_rule.py
  ironicclient/osc/v1/baremetal_node.py
  ironicclient/osc/v1/baremetal_port.py
  ironicclient/osc/v1/baremetal_portgroup.py
  ironicclient/osc/v1/baremetal_runbook.py
  ironicclient/osc/v1/baremetal_shard.py
  ironicclient/osc/v1/baremetal_volume_connector.py
  ironicclient/osc/v1/baremetal_volume_target.py
  ironicclient/tests/unit/osc/v1/test_baremetal_allocation.py
  ironicclient/tests/unit/osc/v1/test_baremetal_chassis.py
  ironicclient/tests/unit/osc/v1/test_baremetal_conductor.py
  ironicclient/tests/unit/osc/v1/test_baremetal_deploy_template.py
  ironicclient/tests/unit/osc/v1/test_baremetal_driver.py
  ironicclient/tests/unit/osc/v1/test_baremetal_node.py
  ironicclient/tests/unit/osc/v1/test_baremetal_port.py
  ironicclient/tests/unit/osc/v1/test_baremetal_portgroup.py
  ironicclient/tests/unit/osc/v1/test_baremetal_runbook.py
  ironicclient/tests/unit/osc/v1/test_baremetal_shard.py
  ironicclient/tests/unit/osc/v1/test_baremetal_volume_connector.py
  ironicclient/tests/unit/osc/v1/test_baremetal_volume_target.py
  releasenotes/notes/fix-field-names-for-selection-and-json-45c998d1df6df214.yaml
Due: ironicclient-dsvm-functional, ironicclient-tempest-dsvm-src

Add mypy infrastructure for type annotation migration
  .pre-commit-config.yaml
  pyproject.toml
  test-requirements.txt
  tox.ini
Due: ironicclient-dsvm-functional, ironicclient-tempest-dsvm-src

Add type annotations to `ironicclient/common/i18n.py`
  ironicclient/common/i18n.py
  ironicclient/exc.py
  pyproject.toml
Due: ironicclient-dsvm-functional, ironicclient-tempest-dsvm-src

Add type annotations to `ironicclient/common/filecache.py`
  ironicclient/common/filecache.py
  pyproject.toml
Due: ironicclient-dsvm-functional, ironicclient-tempest-dsvm-src

Add type annotations to `ironicclient/common/apiclient/exceptions.py`
  ironicclient/common/apiclient/exceptions.py
  pyproject.toml
Due: ironicclient-dsvm-functional, ironicclient-tempest-dsvm-src

Add type annotations to `ironicclient/common/apiclient/base.py`
  ironicclient/common/apiclient/base.py
  pyproject.toml
Due: ironicclient-dsvm-functional, ironicclient-tempest-dsvm-src

Add type annotations to `ironicclient/common/base.py`
  ironicclient/common/base.py
  pyproject.toml
Due: ironicclient-dsvm-functional, ironicclient-tempest-dsvm-src

Update .gitreview for stable/2026.1
  .gitreview
Due: ironicclient-dsvm-functional, ironicclient-tempest-dsvm-src

Update TOX_CONSTRAINTS_FILE for stable/2026.1
  tox.ini
Due: ironicclient-dsvm-functional

Update master for stable/2026.1
  releasenotes/source/2026.1.rst
  releasenotes/source/index.rst
Due: none

Update bug tracker location
  README.rst
  doc/source/conf.py
  doc/source/contributor/contributing.rst
Due: none

Add type annotations to `ironicclient/exc.py`
  ironicclient/exc.py
  pyproject.toml
Due: ironicclient-dsvm-functional, ironicclient-tempest-dsvm-src

Remove dead code: define_command, define_commands_from_module, HelpFormatter
  ironicclient/common/utils.py
Due: ironicclient-dsvm-functional, ironicclient-tempest-dsvm-src

Add type annotations to `ironicclient/common/utils.py`
  ironicclient/common/utils.py
  pyproject.toml
Due: ironicclient-dsvm-functional, ironicclient-tempest-dsvm-src

Add type annotations to `ironicclient/common/http.py`
  ironicclient/common/base.py
  ironicclient/common/http.py
  pyproject.toml
Due: ironicclient-dsvm-functional, ironicclient-tempest-dsvm-src

Add type annotations to `ironicclient/v1/events.py`
  ironicclient/v1/events.py
  pyproject.toml
Due: ironicclient-dsvm-functional, ironicclient-tempest-dsvm-src

Add type annotations to `ironicclient/v1/shard.py`
  ironicclient/v1/shard.py
  pyproject.toml
Due: ironicclient-dsvm-functional, ironicclient-tempest-dsvm-src

Add type annotations to `ironicclient/v1/utils.py`
  ironicclient/v1/utils.py
  pyproject.toml
Due: ironicclient-dsvm-functional, ironicclient-tempest-dsvm-src

Path conditions:
  ironicclient-dsvm-functional: unless all of: ^.*\.rst$, ^doc/.*$, ^releasenotes/.*$
  ironicclient-tempest-dsvm-src: unless all of: ^test-requirements.txt$, ^.*\.rst$, ^doc/.*$, ^ironicclient/tests/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
