Repository openstack/python-ironicclient: changes, and which Zuul jobs are due for each by the changed paths.
All: ironicclient-dsvm-functional, ironicclient-tempest-dsvm-src

ironicclient-dsvm-functional:
  parent: legacy-dsvm-base
  required-projects:
  - openstack-infra/devstack-gate
  - openstack/ironic
  - openstack/python-ironicclient
  run: playbooks/legacy/ironicclient-dsvm-functional/run.yaml
  post-run: playbooks/legacy/ironicclient-dsvm-functional/post.yaml
  timeout: 4800

ironicclient-tempest-dsvm-src:
  parent: legacy-dsvm-base
  required-projects:
  - openstack-infra/devstack-gate
  - openstack/ironic
  - openstack/ironic-lib
  - openstack/ironic-python-agent
  - openstack/ironic-tempest-plugin
  - openstack/pyghmi
  - openstack/python-ironicclient
  - openstack/tempest
  - openstack/virtualbmc
  ...

fix typo
  releasenotes/notes/osc-plugin-ff0d897d8441a9e1.yaml
Due: none

Avoid tox_install.sh for constraints support
  tools/tox_install.sh
  tox.ini
Due: ironicclient-dsvm-functional

Replace assertRaisesRegexp with assertRaisesRegex
  ironicclient/tests/unit/common/test_http.py
Due: ironicclient-dsvm-functional

Use templates for cover and lower-constraints
  zuul.d/project.yaml
Due: ironicclient-dsvm-functional, ironicclient-tempest-dsvm-src

Minor fixes to README.rst
  README.rst
Due: none

Modify useful links to project resources in README
  README.rst
Due: none

Fix a typo in the docstring
  ironicclient/tests/unit/test_client.py
Due: ironicclient-dsvm-functional

Fix a LOG.warning which didn't work properly
  ironicclient/common/http.py
Due: ironicclient-dsvm-functional, ironicclient-tempest-dsvm-src

Update min tox version to 2.0
  tox.ini
Due: ironicclient-dsvm-functional

Add management of automated_clean field
  ironicclient/common/http.py
  ironicclient/osc/v1/baremetal_node.py
  ironicclient/tests/unit/osc/v1/test_baremetal_node.py
  ironicclient/tests/unit/v1/test_node_shell.py
  ironicclient/v1/node.py
  ironicclient/v1/resource_fields.py
  releasenotes/notes/add_automated_clean_field-d2a0c824a4e90bf4.yaml
Due: ironicclient-dsvm-functional, ironicclient-tempest-dsvm-src

Sort columns in node detailed list alphabetically
  ironicclient/tests/unit/osc/v1/test_baremetal_node.py
  ironicclient/v1/resource_fields.py
Due: ironicclient-dsvm-functional, ironicclient-tempest-dsvm-src

Change openstack-dev to openstack-discuss
  doc/source/contributor/contributing.rst
Due: none

Support for protected and protected_reason fields
  ironicclient/common/http.py
  ironicclient/osc/v1/baremetal_node.py
  ironicclient/tests/unit/osc/v1/test_baremetal_node.py
  ironicclient/tests/unit/v1/test_node_shell.py
  ironicclient/v1/resource_fields.py
  releasenotes/notes/protected-72d7419245a4f6c3.yaml
Due: ironicclient-dsvm-functional, ironicclient-tempest-dsvm-src

Add Python 3.6 classifier to setup.cfg
  setup.cfg
Due: ironicclient-dsvm-functional

Change openstack-dev to openstack-discuss
  setup.cfg
Due: ironicclient-dsvm-functional

Support for conductors exposed from API
  ironicclient/common/http.py
  ironicclient/osc/v1/baremetal_conductor.py
  ironicclient/osc/v1/baremetal_node.py
  ironicclient/tests/functional/osc/v1/base.py
  ironicclient/tests/functional/osc/v1/test_baremetal_conductor_basic.py
  ironicclient/tests/unit/osc/v1/fakes.py
  ironicclient/tests/unit/osc/v1/test_baremetal_conductor.py
  ironicclient/tests/unit/osc/v1/test_baremetal_node.py
  ironicclient/tests/unit/v1/test_conductor.py
  ironicclient/tests/unit/v1/test_node.py
  ironicclient/tests/unit/v1/test_node_shell.py
  ironicclient/v1/client.py
  ironicclient/v1/conductor.py
  ironicclient/v1/node.py
  ironicclient/v1/resource_fields.py
  releasenotes/notes/add-conductor-cli-233249ebc9d5a5f3.yaml
  setup.cfg
Due: ironicclient-dsvm-functional, ironicclient-tempest-dsvm-src

Add node owner
  ironicclient/common/http.py
  ironicclient/osc/v1/baremetal_node.py
  ironicclient/tests/unit/osc/v1/test_baremetal_node.py
  ironicclient/tests/unit/v1/test_node_shell.py
  ironicclient/v1/resource_fields.py
  releasenotes/notes/add-node-owner-c2dce5a6075ce2b7.yaml
Due: ironicclient-dsvm-functional, ironicclient-tempest-dsvm-src

Add Events support
  ironicclient/common/http.py
  ironicclient/tests/unit/v1/test_events.py
  ironicclient/v1/client.py
  ironicclient/v1/events.py
  releasenotes/notes/add-events-support-53c461d28abf010b.yaml
Due: ironicclient-dsvm-functional, ironicclient-tempest-dsvm-src

add python 3.7 unit test job
  zuul.d/project.yaml
Due: ironicclient-dsvm-functional, ironicclient-tempest-dsvm-src

Allocation API: client API and CLI
  doc/source/cli/osc/v1/index.rst
  ironicclient/common/utils.py
  ironicclient/osc/v1/baremetal_allocation.py
  ironicclient/tests/functional/osc/v1/base.py
  ironicclient/tests/functional/osc/v1/test_baremetal_allocation.py
  ironicclient/tests/unit/osc/v1/fakes.py
  ironicclient/tests/unit/osc/v1/test_baremetal_allocation.py
  ironicclient/tests/unit/osc/v1/test_baremetal_node.py
  ironicclient/tests/unit/v1/test_allocation.py
  ironicclient/tests/unit/v1/test_node_shell.py
  ironicclient/v1/allocation.py
  ironicclient/v1/client.py
  ironicclient/v1/node.py
  ironicclient/v1/resource_fields.py
  releasenotes/notes/allocation-api-5f13082a8b36d788.yaml
  setup.cfg
Due: ironicclient-dsvm-functional, ironicclient-tempest-dsvm-src

Support node description
  ironicclient/osc/v1/baremetal_node.py
  ironicclient/tests/unit/osc/v1/test_baremetal_node.py
  ironicclient/tests/unit/v1/test_node_shell.py
  ironicclient/v1/resource_fields.py
  releasenotes/notes/add-node-description-support-6efd0882eaa0c788.yaml
Due: ironicclient-dsvm-functional, ironicclient-tempest-dsvm-src

Add is-smartnic port attribute to port command
  ironicclient/osc/v1/baremetal_port.py
  ironicclient/tests/unit/osc/v1/test_baremetal_port.py
  ironicclient/tests/unit/v1/test_port.py
  ironicclient/tests/unit/v1/test_port_shell.py
  ironicclient/v1/port.py
  ironicclient/v1/resource_fields.py
  releasenotes/notes/add-is-smartnic-port-attr-ed46d887aec276ed.yaml
Due: ironicclient-dsvm-functional, ironicclient-tempest-dsvm-src

Add 'hostname' to port's local link connection
  ironicclient/osc/v1/baremetal_port.py
  releasenotes/notes/add-hostname-to-port-local-link-connection-0d4ae64b0c24bf52.yaml
Due: ironicclient-dsvm-functional, ironicclient-tempest-dsvm-src

Replace mock.has_calls() with assert_has_calls
  ironicclient/tests/unit/osc/v1/test_baremetal_chassis.py
  ironicclient/tests/unit/osc/v1/test_baremetal_node.py
  ironicclient/tests/unit/osc/v1/test_baremetal_port.py
  ironicclient/tests/unit/osc/v1/test_baremetal_portgroup.py
  ironicclient/tests/unit/osc/v1/test_baremetal_volume_connector.py
  ironicclient/tests/unit/osc/v1/test_baremetal_volume_target.py
Due: ironicclient-dsvm-functional

[Follow Up] Add 'hostname' to port's local link connection
  ironicclient/osc/v1/baremetal_port.py
  releasenotes/notes/add-hostname-to-port-local-link-connection-0d4ae64b0c24bf52.yaml
Due: ironicclient-dsvm-functional, ironicclient-tempest-dsvm-src

[Trivial] Allocation API: fix incorrect parameter description
  ironicclient/osc/v1/baremetal_allocation.py
Due: ironicclient-dsvm-functional, ironicclient-tempest-dsvm-src

Deploy templates: client support
  ironicclient/common/http.py
  ironicclient/common/utils.py
  ironicclient/osc/v1/baremetal_deploy_template.py
  ironicclient/osc/v1/baremetal_node.py
  ironicclient/osc/v1/baremetal_port.py
  ironicclient/tests/functional/osc/v1/base.py
  ironicclient/tests/functional/osc/v1/test_baremetal_deploy_template_basic.py
  ironicclient/tests/unit/osc/v1/fakes.py
  ironicclient/tests/unit/osc/v1/test_baremetal_deploy_template.py
  ironicclient/tests/unit/v1/test_deploy_template.py
  ironicclient/v1/client.py
  ironicclient/v1/deploy_template.py
  ironicclient/v1/resource_fields.py
  releasenotes/notes/deploy-templates-df354ce825b00430.yaml
  setup.cfg
Due: ironicclient-dsvm-functional, ironicclient-tempest-dsvm-src

Support passing a dictionary for configdrive
  ironicclient/common/http.py
  ironicclient/osc/v1/baremetal_node.py
  ironicclient/tests/unit/osc/v1/test_baremetal_node.py
  ironicclient/tests/unit/v1/test_node.py
  ironicclient/v1/node.py
  releasenotes/notes/configdrive-7bd2b67830691b2e.yaml
Due: ironicclient-dsvm-functional, ironicclient-tempest-dsvm-src

pass endpoint interface to http client
  ironicclient/client.py
  ironicclient/tests/unit/test_client.py
  releasenotes/notes/pass-interface-argument-deb92e3feb0bf051.yaml
Due: ironicclient-dsvm-functional, ironicclient-tempest-dsvm-src

Accept 'valid_interfaces' in client setup
  ironicclient/client.py
  ironicclient/tests/unit/test_client.py
  releasenotes/notes/accept-valid_interfaces-3b8f5e3e362e04cd.yaml
Due: ironicclient-dsvm-functional, ironicclient-tempest-dsvm-src

Follow-up to the configdrive change
  ironicclient/osc/v1/baremetal_node.py
  releasenotes/notes/configdrive-7bd2b67830691b2e.yaml
Due: ironicclient-dsvm-functional, ironicclient-tempest-dsvm-src

Update release notes
  releasenotes/notes/accept-valid_interfaces-3b8f5e3e362e04cd.yaml
  releasenotes/notes/add-events-support-53c461d28abf010b.yaml
  releasenotes/notes/add-hostname-to-port-local-link-connection-0d4ae64b0c24bf52.yaml
  releasenotes/notes/add-is-smartnic-port-attr-ed46d887aec276ed.yaml
  releasenotes/notes/configdrive-7bd2b67830691b2e.yaml
Due: none

Move to zuulv3
  ironicclient/tests/functional/hooks/post_test_hook.sh
  playbooks/functional/run.yaml
  playbooks/legacy/ironicclient-dsvm-functional/post.yaml
  playbooks/legacy/ironicclient-dsvm-functional/run.yaml
  playbooks/legacy/ironicclient-tempest-dsvm-src/post.yaml
  playbooks/legacy/ironicclient-tempest-dsvm-src/run.yaml
  tools/run_functional.sh
  tox.ini
  zuul.d/ironicclient-jobs.yaml
  zuul.d/legacy-ironicclient-jobs.yaml
  zuul.d/project.yaml
Due: ironicclient-dsvm-functional, ironicclient-tempest-dsvm-src

Use endpoint_override in version negotiation
  ironicclient/common/http.py
  ironicclient/tests/unit/common/test_http.py
Due: ironicclient-dsvm-functional, ironicclient-tempest-dsvm-src

Run jobs under python2 and python3
  ironicclient/tests/functional/base.py
  ironicclient/tests/functional/osc/v1/test_baremetal_allocation.py
  ironicclient/tests/functional/osc/v1/test_baremetal_deploy_template_basic.py
  ironicclient/tests/functional/osc/v1/test_baremetal_node_negative.py
  ironicclient/tests/functional/test_chassis.py
  playbooks/functional/run.yaml
  tox.ini
  zuul.d/ironicclient-jobs.yaml
  zuul.d/project.yaml
Due: ironicclient-dsvm-functional, ironicclient-tempest-dsvm-src

Update master for stable/stein
  releasenotes/source/index.rst
  releasenotes/source/stein.rst
Due: none

Path conditions:
  ironicclient-dsvm-functional: unless all of: ^.*\.rst$, ^doc/.*$, ^releasenotes/.*$
  ironicclient-tempest-dsvm-src: unless all of: ^test-requirements.txt$, ^.*\.rst$, ^doc/.*$, ^ironicclient/tests/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
