Repository openstack/python-ironicclient: changes, and which Zuul jobs are due for each by the changed paths.
All: ironicclient-dsvm-functional, ironicclient-tempest-dsvm-src

ironicclient-dsvm-functional:
  parent: legacy-dsvm-base
  required-projects:
  - openstack-infra/devstack-gate
  - openstack/ironic
  - openstack/python-ironicclient
  run: playbooks/legacy/ironicclient-dsvm-functional/run.yaml
  post-run: playbooks/legacy/ironicclient-dsvm-functional/post.yaml
  timeout: 4800

ironicclient-tempest-dsvm-src:
  parent: legacy-dsvm-base
  required-projects:
  - openstack-infra/devstack-gate
  - openstack/ironic
  - openstack/ironic-lib
  - openstack/ironic-python-agent
  - openstack/ironic-tempest-plugin
  - openstack/pyghmi
  - openstack/python-ironicclient
  - openstack/tempest
  - openstack/virtualbmc
  ...

add lower-constraints job
  lower-constraints.txt
  tox.ini
  zuul.d/project.yaml
Due: ironicclient-dsvm-functional, ironicclient-tempest-dsvm-src

fix a typo in documentation
  ironicclient/osc/plugin.py
Due: ironicclient-dsvm-functional, ironicclient-tempest-dsvm-src

Updated from global requirements
  test-requirements.txt
Due: ironicclient-dsvm-functional

Update references to launchpad for storyboard
  README.rst
  doc/source/contributor/contributing.rst
Due: none

Fix incompatible requirement in lower-constraints
  lower-constraints.txt
Due: ironicclient-dsvm-functional, ironicclient-tempest-dsvm-src

Follow the new PTI for document build
  doc/requirements.txt
  doc/source/api_v1.rst
  doc/source/conf.py
  setup.cfg
  test-requirements.txt
  tox.ini
Due: ironicclient-dsvm-functional

Do not run functional (API) tests in the CI
  playbooks/legacy/ironicclient-tempest-dsvm-src/run.yaml
Due: ironicclient-dsvm-functional, ironicclient-tempest-dsvm-src

Switch to none auth for standalone mode
  ironicclient/client.py
  ironicclient/common/http.py
  ironicclient/osc/plugin.py
  ironicclient/shell.py
  ironicclient/tests/unit/common/test_http.py
  ironicclient/tests/unit/osc/test_plugin.py
  ironicclient/tests/unit/test_client.py
  ironicclient/tests/unit/test_shell.py
  ironicclient/tests/unit/v1/test_client.py
  ironicclient/v1/client.py
  lower-constraints.txt
  releasenotes/notes/deprecate-http-client-8d664e5ec50ec403.yaml
  requirements.txt
Due: ironicclient-dsvm-functional, ironicclient-tempest-dsvm-src

Gate fix: Cap hacking to avoid gate failure
  test-requirements.txt
Due: ironicclient-dsvm-functional

Stop double json decoding API error messages
  ironicclient/common/http.py
Due: ironicclient-dsvm-functional, ironicclient-tempest-dsvm-src

Allow to use none auth in functional tests
  ironicclient/tests/functional/base.py
  tools/run_functional.sh
Due: ironicclient-dsvm-functional

Do not abort wait_for_provision_state of last_errors becomes non-empty
  ironicclient/tests/unit/v1/test_node.py
  ironicclient/v1/node.py
  releasenotes/notes/wait-for-prov-last-error-5f49b1c488879775.yaml
Due: ironicclient-dsvm-functional, ironicclient-tempest-dsvm-src

Include python API reference in docs
  doc/source/conf.py
  doc/source/index.rst
  doc/source/reference/index.rst
Due: none

Wire in header microversion into negotiation
  ironicclient/common/http.py
  ironicclient/tests/unit/common/test_http.py
  ironicclient/tests/unit/utils.py
Due: ironicclient-dsvm-functional, ironicclient-tempest-dsvm-src

Switch to using stestr
  test-requirements.txt
  tox.ini
Due: ironicclient-dsvm-functional

Support per-call version: set_provision_state
  ironicclient/common/base.py
  ironicclient/tests/unit/v1/test_node.py
  ironicclient/v1/node.py
Due: ironicclient-dsvm-functional, ironicclient-tempest-dsvm-src

Power fault recovery: client support
  ironicclient/common/http.py
  ironicclient/osc/v1/baremetal_node.py
  ironicclient/tests/unit/osc/v1/test_baremetal_node.py
  ironicclient/tests/unit/v1/test_node_shell.py
  ironicclient/v1/node.py
  ironicclient/v1/resource_fields.py
  releasenotes/notes/node-fault-adbe74fd600063ee.yaml
Due: ironicclient-dsvm-functional, ironicclient-tempest-dsvm-src

Switch functional tests to the fake-hardware hardware type
  ironicclient/tests/functional/base.py
  ironicclient/tests/functional/osc/v1/base.py
  ironicclient/tests/functional/osc/v1/test_baremetal_driver_basic.py
  ironicclient/tests/functional/osc/v1/test_baremetal_node_basic.py
  ironicclient/tests/functional/osc/v1/test_baremetal_node_create_negative.py
  ironicclient/tests/functional/test_driver.py
  ironicclient/tests/functional/test_json_response.py
Due: ironicclient-dsvm-functional

BIOS Settings support
  ironicclient/osc/v1/baremetal_node.py
  ironicclient/tests/unit/osc/v1/fakes.py
  ironicclient/tests/unit/osc/v1/test_baremetal_driver.py
  ironicclient/tests/unit/osc/v1/test_baremetal_node.py
  ironicclient/tests/unit/v1/test_driver.py
  ironicclient/tests/unit/v1/test_driver_shell.py
  ironicclient/tests/unit/v1/test_node_shell.py
  ironicclient/v1/node.py
  ironicclient/v1/resource_fields.py
  releasenotes/notes/osc-baremetal-node-bios-setting-list-b062b31d0d4de337.yaml
  setup.cfg
Due: ironicclient-dsvm-functional, ironicclient-tempest-dsvm-src

Add microversion override for get and list
  ironicclient/common/base.py
  ironicclient/tests/unit/common/test_base.py
  ironicclient/tests/unit/v1/test_node.py
  ironicclient/v1/node.py
  releasenotes/notes/version-overrides-4e9ba1266a238c6a.yaml
Due: ironicclient-dsvm-functional, ironicclient-tempest-dsvm-src

Trivial fix typo of description
  ironicclient/common/http.py
Due: ironicclient-dsvm-functional, ironicclient-tempest-dsvm-src

Support node's deploy_step field
  ironicclient/common/http.py
  ironicclient/shell.py
  ironicclient/tests/functional/osc/v1/test_baremetal_node_fields.py
  ironicclient/tests/functional/test_json_response.py
  ironicclient/tests/unit/osc/v1/test_baremetal_node.py
  ironicclient/tests/unit/v1/test_node_shell.py
  ironicclient/v1/resource_fields.py
  releasenotes/notes/node-deploy-step-061e8925dfee3918.yaml
Due: ironicclient-dsvm-functional, ironicclient-tempest-dsvm-src

Fix lower-constraints.txt
  lower-constraints.txt
Due: ironicclient-dsvm-functional, ironicclient-tempest-dsvm-src

Remove testrepository
  .gitignore
  lower-constraints.txt
Due: ironicclient-dsvm-functional, ironicclient-tempest-dsvm-src

Support resetting interfaces to their default values
  ironicclient/osc/v1/baremetal_node.py
  ironicclient/tests/unit/osc/v1/test_baremetal_node.py
  releasenotes/notes/reset-interface-bbd7a612242db399.yaml
Due: ironicclient-dsvm-functional, ironicclient-tempest-dsvm-src

Add support for reset_interfaces in node's PATCH
  ironicclient/common/base.py
  ironicclient/common/http.py
  ironicclient/osc/v1/baremetal_node.py
  ironicclient/tests/unit/osc/v1/test_baremetal_node.py
  ironicclient/tests/unit/utils.py
  ironicclient/tests/unit/v1/test_node.py
  ironicclient/v1/node.py
  releasenotes/notes/reset-interfaces-bec227bf933fea59.yaml
Due: ironicclient-dsvm-functional, ironicclient-tempest-dsvm-src

Add support for conductor groups
  ironicclient/common/http.py
  ironicclient/osc/v1/baremetal_node.py
  ironicclient/tests/unit/osc/v1/test_baremetal_node.py
  ironicclient/tests/unit/v1/test_node.py
  ironicclient/tests/unit/v1/test_node_shell.py
  ironicclient/v1/node.py
  ironicclient/v1/resource_fields.py
  releasenotes/notes/conductor-group-9cfab3756aa108e4.yaml
Due: ironicclient-dsvm-functional, ironicclient-tempest-dsvm-src

Update .gitreview for stable/rocky
  .gitreview
Due: ironicclient-dsvm-functional, ironicclient-tempest-dsvm-src

Update UPPER_CONSTRAINTS_FILE for stable/rocky
  tox.ini
Due: ironicclient-dsvm-functional

Update reno for stable/rocky
  releasenotes/source/index.rst
  releasenotes/source/rocky.rst
Due: none

import zuul job settings from project-config
  zuul.d/project.yaml
Due: ironicclient-dsvm-functional, ironicclient-tempest-dsvm-src

Path conditions:
  ironicclient-dsvm-functional: unless all of: ^.*\.rst$, ^doc/.*$, ^releasenotes/.*$
  ironicclient-tempest-dsvm-src: unless all of: ^test-requirements.txt$, ^.*\.rst$, ^doc/.*$, ^ironicclient/tests/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
