Repository openstack/python-ironicclient: changes, and which Zuul jobs are due for each by the changed paths.
All: ironicclient-dsvm-functional, ironicclient-tempest-dsvm-src

zuul.d/legacy-ironicclient-jobs.yaml:

- job:
    name: ironicclient-dsvm-functional
    parent: legacy-dsvm-base
    irrelevant-files:
      - ^.*\.rst$
      - ^doc/.*$
      - ^releasenotes/.*$
    required-projects:
      - openstack-infra/devstack-gate
      - openstack/ironic
      - openstack/python-ironicclient
    run: playbooks/legacy/ironicclient-dsvm-functional/run.yaml
    post-run: playbooks/legacy/ironicclient-dsvm-functional/post.yaml
    timeout: 4800

- job:
    name: ironicclient-tempest-dsvm-src
    # NOTE: We do not use 'legacy-ironic-dsvm-base' as it is simpler and
    # less confusing to define it all here and use 'legacy-dsvm-base'.
    parent: legacy-dsvm-base
    irrelevant-files:
      - ^test-requirements.txt$
      - ^.*\.rst$
      - ^doc/.*$
      - ^ironicclient/tests/.*$
      - ^releasenotes/.*$
      - ^setup.cfg$
      - ^tools/.*$
      - ^tox.ini$
    required-projects:
      - openstack-infra/devstack-gate
      - openstack/ironic
      - openstack/ironic-lib
      - openstack/ironic-python-agent
      - openstack/ironic-tempest-plugin
      - openstack/pyghmi
      - openstack/python-ironicclient
      - openstack/tempest
      - openstack/virtualbmc
    run: playbooks/legacy/ironicclient-tempest-dsvm-src/run.yaml
    post-run: playbooks/legacy/ironicclient-tempest-dsvm-src/post.yaml
    timeout: 10800

Fix allocation tests
  ironicclient/tests/functional/osc/v1/test_baremetal_allocation.py
Due: ironicclient-dsvm-functional

Update UPPER_CONSTRAINTS_FILE for stable/stein
  tox.ini
Due: ironicclient-dsvm-functional

Update .gitreview for stable/stein
  .gitreview
Due: ironicclient-dsvm-functional, ironicclient-tempest-dsvm-src

Replace openstack.org git:// URLs with https://
  playbooks/legacy/ironicclient-dsvm-functional/run.yaml
  playbooks/legacy/ironicclient-tempest-dsvm-src/run.yaml
Due: ironicclient-dsvm-functional, ironicclient-tempest-dsvm-src

Replace openstack.org git:// URLs with https://
  zuul.d/ironicclient-jobs.yaml
Due: ironicclient-dsvm-functional, ironicclient-tempest-dsvm-src

Move to zuulv3
  ironicclient/tests/functional/hooks/post_test_hook.sh
  playbooks/functional/run.yaml
  playbooks/legacy/ironicclient-dsvm-functional/post.yaml
  playbooks/legacy/ironicclient-dsvm-functional/run.yaml
  playbooks/legacy/ironicclient-tempest-dsvm-src/post.yaml
  playbooks/legacy/ironicclient-tempest-dsvm-src/run.yaml
  tools/run_functional.sh
  tox.ini
  zuul.d/ironicclient-jobs.yaml
  zuul.d/legacy-ironicclient-jobs.yaml
  zuul.d/project.yaml
Due: ironicclient-dsvm-functional, ironicclient-tempest-dsvm-src

Uncap jsonschema
  requirements.txt
Due: ironicclient-dsvm-functional, ironicclient-tempest-dsvm-src

Run jobs under python2 and python3
  ironicclient/tests/functional/base.py
  ironicclient/tests/functional/osc/v1/test_baremetal_deploy_template_basic.py
  ironicclient/tests/functional/osc/v1/test_baremetal_node_negative.py
  ironicclient/tests/functional/test_chassis.py
  playbooks/functional/run.yaml
  tox.ini
  zuul.d/ironicclient-jobs.yaml
  zuul.d/project.yaml
Due: ironicclient-dsvm-functional, ironicclient-tempest-dsvm-src

Dropping the py35 testing
  setup.cfg
  tox.ini
  zuul.d/project.yaml
Due: ironicclient-dsvm-functional, ironicclient-tempest-dsvm-src

Use endpoint_override in version negotiation
  ironicclient/common/http.py
  ironicclient/tests/unit/common/test_http.py
  releasenotes/notes/fixes-endpoint-override-for-version-e6d25da654f0a7ff.yaml
Due: ironicclient-dsvm-functional, ironicclient-tempest-dsvm-src

OpenDev Migration Patch
  .gitreview
  zuul.d/ironicclient-jobs.yaml
Due: ironicclient-dsvm-functional, ironicclient-tempest-dsvm-src

OpenDev Migration Patch
  .gitreview
  playbooks/legacy/ironicclient-dsvm-functional/run.yaml
  playbooks/legacy/ironicclient-tempest-dsvm-src/run.yaml
  zuul.d/legacy-ironicclient-jobs.yaml
Due: ironicclient-dsvm-functional, ironicclient-tempest-dsvm-src

Fetch requirements from opendev
  README.rst
  doc/source/cli/ironic_client.rst
  doc/source/cli/osc_plugin_cli.rst
  doc/source/contributor/contributing.rst
  tox.ini
Due: ironicclient-dsvm-functional

Do not try to use /v1/v1 when endpoint_override is used
  ironicclient/common/http.py
  ironicclient/tests/unit/test_client.py
  releasenotes/notes/endpoint-strip-dea59ccb05628a35.yaml
Due: ironicclient-dsvm-functional, ironicclient-tempest-dsvm-src

Allocation API: support allocation backfilling
  ironicclient/common/http.py
  ironicclient/osc/v1/baremetal_allocation.py
  ironicclient/tests/unit/osc/v1/test_baremetal_allocation.py
  ironicclient/v1/allocation.py
  releasenotes/notes/allocation-backfill-4d4e51af2f787a72.yaml
Due: ironicclient-dsvm-functional, ironicclient-tempest-dsvm-src

Update sphinx requirements
  doc/requirements.txt
Due: none

Add allocation update API
  ironicclient/osc/v1/baremetal_allocation.py
  ironicclient/tests/functional/osc/v1/test_baremetal_allocation.py
  ironicclient/tests/unit/osc/v1/test_baremetal_allocation.py
  ironicclient/v1/allocation.py
  releasenotes/notes/allow-allocation-update-b4fb715045ab40a2.yaml
  setup.cfg
Due: ironicclient-dsvm-functional, ironicclient-tempest-dsvm-src

Update Python 3 test runtimes for Train
  setup.cfg
  tox.ini
  zuul.d/project.yaml
Due: ironicclient-dsvm-functional, ironicclient-tempest-dsvm-src

Switch to the new canonical constraints URL on master
  tox.ini
Due: ironicclient-dsvm-functional

Update api-ref location
  README.rst
Due: none

Strip prefix when paginating
  ironicclient/common/base.py
  ironicclient/common/http.py
  ironicclient/tests/unit/common/test_http.py
  ironicclient/tests/unit/test_client.py
  ironicclient/tests/unit/utils.py
  ironicclient/tests/unit/v1/test_node.py
Due: ironicclient-dsvm-functional, ironicclient-tempest-dsvm-src

Add release note for bug #2006216
  releasenotes/notes/strip-prefix-when-paginating-6140465b1488828e.yaml
Due: none

Remove deprecated common.http.HTTPClient class
  ironicclient/common/http.py
  ironicclient/tests/unit/common/test_http.py
  ironicclient/tests/unit/test_client.py
  releasenotes/notes/remove-deprecated-http-client-c969f583573251e9.yaml
Due: ironicclient-dsvm-functional, ironicclient-tempest-dsvm-src

Remove deprecated endpoint argument
  ironicclient/common/http.py
  ironicclient/tests/unit/common/test_http.py
  ironicclient/v1/client.py
  releasenotes/notes/remove-deprecated-endpoint-argument-fc0bd8099067e4ca.yaml
Due: ironicclient-dsvm-functional, ironicclient-tempest-dsvm-src

Remove deprecated keystone arguments
  ironicclient/client.py
  ironicclient/tests/unit/test_client.py
  releasenotes/notes/remove-deprecated-keystone-args-925ac5f3607a89a3.yaml
Due: ironicclient-dsvm-functional, ironicclient-tempest-dsvm-src

Build pdf doc
  doc/requirements.txt
  doc/source/conf.py
  lower-constraints.txt
  tox.ini
Due: ironicclient-dsvm-functional, ironicclient-tempest-dsvm-src

Update .gitreview for stable/train
  .gitreview
Due: ironicclient-dsvm-functional, ironicclient-tempest-dsvm-src

Update TOX/UPPER_CONSTRAINTS_FILE for stable/train
  tox.ini
Due: ironicclient-dsvm-functional
